<h1>Your shopping cart:</h1>
<% @carted_products.each do |carted_product| %>
  <p>Name: <%= carted_product.product.name %></p>
  <%= link_to "Remove this product", "/carted_products/#{carted_product.id}", method: :delete %>
  <p>Quantity: <%= carted_product.quantity %></p>
<% end %>

<%= form_tag "/orders", method: :post do %>
    <input type="submit" value="Buy Now!">
<% end %>