Here is the the new item you've introduced to Hyrule!
<li> Name: <%= @product.name %> </li>
<li> Price: <%= @product.price %> </li>
<li> <img src = <%= @product.image %> ></li>
<li> Description: <%= @product.description %></li>