<h1>Hyrule's Finest Items for Aspiring Heroes</h1>
<ul class = "info">
<li> Name: <%= @product.name %> </li>
<li> Price: <%= @product.price %> </li>
<li> <img src = <%= @product.image %> ></li>
<li> Description: <%= @product.description %></li>
</ul>
