<h1>Add image for <%= @product.name %></h1>
<%= form_tag "/products/#{@product.id}/images", method: :post do %>
  Image URL: <input type="text" name="url">
  <input type="submit" name="Add image">
  <% end %>